
<div class = "col-lg-12 text-center" >
  <h1>Welcome to Bookers!!</h1>
  <%= icon('fas','book')%>
  <p>In <%= icon('fas','book')%> Bookers,</p>
  <p>you can share and exchange your opinions,inpression,and emotions</p>

  <p>about various books!</p>

  <%= link_to 'Log in', user_session_path, class: "btn btn-secondary col-6 m-2 btn-info" %>
  <%= link_to 'Sign up', new_user_session_path, class: "btn btn-secondary col-6  btn-success" %>

</div>
